# Cloudflare R2 Public CDN URL for Cadastral Mouza Vectors
# In development (local folder): /data/mouzas
# In production (Cloudflare R2): https://pub-847babdc1e0442f297ff29c2346e33aa.r2.dev/mouzas
VITE_DATA_CDN=https://pub-847babdc1e0442f297ff29c2346e33aa.r2.dev/mouzas
